name: Upload via SSH

on:
  workflow_call:
    inputs:
      build-cache-key:
        description: Key of the cached build used for actions/cache
        required: true
        type: string
    secrets:
      ssh-host:
        description: SSH host
        required: true
      ssh-key:
        description: Private SSH Key for the remote server. The public key has to be added to the remote server.
        required: true
      ssh-user:
        description: SSH user
        required: true
      deployment-destination:
        description: Path on the remote server to upload the files to
        required: true

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Restore cached build
        id: cache
        uses: actions/cache@v3
        with:
          key: ${{ inputs.build-cache-key }}
          path: ./

      - name: Install SSH Key
        if: steps.cache.outputs.cache-hit == 'true'
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.ssh-key }}
          known_hosts: '--placeholder-host'

      - name: Adding known hosts
        if: steps.cache.outputs.cache-hit == 'true'
        run: ssh-keygen -H ${{ secrets.ssh-host }} >> ~/.ssh/known_hosts

      - name: Deploy with rsync
        if: steps.cache.outputs.cache-hit == 'true'
        run: rsync -avzn ./ ${{ secrets.ssh-user }}@${{ secrets.ssh-host }}:${{ secrets.deployment-destination }}