name: Upload via SSH

on:
  workflow_call:
    inputs:
      build-cache-key:
        description: Key of the cached build used for actions/cache
        required: true
        type: string
    secrets:
      ssh-host:
        description: SSH host
        required: true
      ssh-key:
        description: Private SSH Key for the remote server. The public key has to be added to the remote server.
        required: true
      ssh-user:
        description: SSH user
        required: true
      deployment-destination:
        description: Path on the remote server to upload the files to
        required: true

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Restore cached build
        uses: actions/cache@v3
        with:
          key: ${{ inputs.build-cache-key }}
          path: ./
          fail-on-cache-miss: true

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.ssh-key }}
          known_hosts: '--placeholder-host'

      - name: Adding known hosts
        run: ssh-keyscan -H ${{ secrets.ssh-host }} >> ~/.ssh/known_hosts

      - name: Remove redundant files
        run: |
          rm -r ./.git
          rm -r ./.github
          rm -r ./node_modules
          rm -r ./tests
          rm -r ./.env.local

      - name: Create archive
        run: tar -zcvf build.tar.gz .

      - name: Deploy with scp
        run: scp ./build.tar.gz ${{ secrets.ssh-user }}@${{ secrets.ssh-host }}:${{ secrets.deployment-destination }}